<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="antialiased bg-muns-gray-100 font-muns-sans text-muns-black">
    <header class="px-4 py-2.5 bg-muns-ruby">
      {% render "navbar", metadata: site.metadata, page: page %}
    </header>

    <main class="mx-4 mb-4">
      <div class="mx-auto max-w-2xl">
        {{ content }}
      </div>
    </main>
  </body>
</html>
