<a href="<%= @url %>" target="_blank" class="portfolio--card border border-gray-400 rounded bg-white">
  <img src="/images/<%= @image %>" class="rounded" />
  <div class="flex justify-center px-5"><%= content %></div>
</a>
