---
layout: page
title: Portfolio
permalink: /portfolio/
---

<div class="not-prose grid gap-6 md:grid-cols-2">
  <%= render Portfolio::CardComponent.new(url: "https://enjoymyrecipes.herokuapp.com/", image: "myrecipes-screenshot.jpg") do %>
    MyRecipes: Ruby on Rails app
  <% end %>

  <%= render Portfolio::CardComponent.new(url: "https://tomodorotimer.herokuapp.com/", image: "tomodoro-timer-screenshot.jpg") do %>
    Tomodoro Timer: React app
  <% end %>

  <%= render Portfolio::CardComponent.new(url: "https://github.com/thomashalljr", image: "github-logo.jpg") do %>
    Check out my profile on GitHub!
  <% end %>
</div>
