<nav class="mx-auto max-w-2xl flex gap-10">
  <a href="/" class="text-muns-purple">thomas hall jr.</a>
  <a href="/blog" class="text-muns-purple">blog</a>
  <a href="/portfolio" class="text-muns-purple">portfolio</a>
  <a href="https://drive.google.com/open?id=1JP8k619YpRHOSWOhgH5nq1-8cE2iq4IOuZ1VOOdPUZ0" target="_blank" class="text-muns-purple">resume</a>
  <a href="mailto:{{ metadata.email }}" class="text-muns-purple">contact me</a>
</nav>
