<nav>
  <a href="/">Thomas Hall Jr</a>
  <a href="/blog">Blog</a>
  <a href="/portfolio">Portfolio</a>
  <a href="https://drive.google.com/open?id=1JP8k619YpRHOSWOhgH5nq1-8cE2iq4IOuZ1VOOdPUZ0" target="_blank">Resume</a>
  <a href="mailto:{{ metadata.email }}">Contact Me</a>
</nav>
