<nav class="mx-auto max-w-2xl flex gap-10">
  <a href="/">{{ "thomas hall jr" | upcase }}</a>
  <a href="/blog">blog</a>
  <a href="/portfolio">portfolio</a>
  <a href="https://drive.google.com/open?id=1JP8k619YpRHOSWOhgH5nq1-8cE2iq4IOuZ1VOOdPUZ0" target="_blank">resume</a>
  <a href="mailto:{{ metadata.email }}">contact me</a>
</nav>
