<nav class="mx-auto max-w-2xl flex gap-10">
  <a href="/" class="font-medium no-underline">{{ "thomas hall jr" | upcase }}</a>
  <a href="/blog" class="font-medium no-underline">blog</a>
  <a href="/portfolio" class="font-medium no-underline">portfolio</a>
  <a href="https://drive.google.com/open?id=1JP8k619YpRHOSWOhgH5nq1-8cE2iq4IOuZ1VOOdPUZ0" target="_blank" class="font-medium no-underline">resume</a>
  <a href="mailto:{{ metadata.email }}" class="font-medium no-underline">contact me</a>
</nav>
